@import "tailwindcss";

.title.has-text-weight-light {
  letter-spacing: 3px;
}

.card {
  transition: all 0.25s ease;
  transform: scale(1);
}

.card:hover {
  transform: scale(1.04);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.navbar-item {
  font-weight: 400;
  transition: all 0.25s ease;
}

.navbar-item:hover {
  font-weight: 600;
  transform: scale(1.06);
  color: black;
}

.navbar {
  letter-spacing: 0.4px;
}

.navbar-item {
  font-size: 1.05rem;
}

.navbar-item {
  position: relative;
}

.navbar-item::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 0%;
  height: 2px;
  background: black;
  transition: width 0.25s ease;
}

.navbar-item:hover::after {
  width: 100%;
}

.navbar {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.navbar-item {
  font-size: 1.15rem; /* Bigger text */
  padding: 0.8rem 1.4rem; /* More padding */
}

.navbar-brand img {
  height: 90px !important; /* Bigger logo */
}

#nav-cart img {
  height: 28px !important; /* Bigger cart icon */
}

.button {
  transition: all 0.25s ease;
}

.button:hover {
  transform: scale(1.06);
  font-weight: 600;
}

.button {
  border-radius: 10px;
}

.hero-right-side-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
